[submodule "mobile-app"]
	path = mobile-app
	url = https://github.com/agunglaksonoputra/senada-project.git
[submodule "backend-api"]
	path = backend-api
	url = https://github.com/agunglaksonoputra/senada-api
